In [36]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
import pandas as pd

In [2]:
def obter_driver():
    return webdriver.Chrome()

def abrir_pagina(driver):
    driver.get("https://www.cnnbrasil.com.br/internacional/veja-o-ranking-completo-de-todos-os-paises-por-idh/")

In [3]:
driver= obter_driver()
abrir_pagina(driver)

In [4]:
cookies= driver.find_element_by_xpath("""//*[@id="pop__gdpr"]/div[1]""")
cookies.click()

In [5]:
iframe = driver.find_element_by_xpath("""/html/body/div[2]/div/div/main/article/div/div[4]/iframe""")
driver.switch_to.frame(iframe)

In [7]:
def prox_pag():
    p = driver.find_element_by_xpath("""//*[@id="pagination"]/button[2]""")
    p.click()

In [98]:
linhas = []
for r in range(0,12):
    #try:
        table_inner = driver.find_element_by_id("table-inner")
        while(teste:=table_inner.find_elements_by_tag_name('body-row')):
            print(teste.text)
        conteudo = table_inner.text.split()
        for x in range(0,len(conteudo)-2,3):
            tmp = []
            tmp.append(conteudo[x])
            tmp.append(conteudo[x+1])
            tmp.append(conteudo[x+2])
            linhas.append(tmp)
        prox_pag()
        sleep(1)
    #except Exception as erro:
        #continue
df_idh = pd.DataFrame(linhas)

In [99]:
df_idh.head(50)

             0          1              2
0    Colocação       País            IDH
1            1    Noruega          0,957
2            2      Suíça          0,955
3            2    Irlanda          0,955
4            4       Hong           Kong
5      (China)      0,949              4
6     Islândia      0,949              6
7     Alemanha      0,947              7
8       Suécia      0,945              8
9    Austrália      0,944              8
10     Holanda      0,944             10
11   Dinamarca      0,940             11
12   Singapura      0,938             11
13   Finlândia      0,938             13
14       Reino      Unido          0,932
15          14       Nova       Zelândia
16       0,931         14        Bélgica
17   Colocação       País            IDH
18          16     Canadá          0,929
19          17    Estados         Unidos
20       0,926         18        Áustria
21       0,922         19  Liechtenstein
22       0,919         19          Japão
23       0,919         19         Israel
24       0,919         22      Eslovênia
25       0,917         23     Luxemburgo
26       0,916         23         Coreia
27          do        Sul          0,916
28          25    Espanha          0,904
29          26     França          0,901
30          27  República         Tcheca
31       0,900         28          Malta
32       0,895         29         Itália
33       0,892         29        Estônia
34   Colocação       País            IDH
35          31   Emirados         Árabes
36      Unidos      0,890             32
37      Grécia      0,888             33
38      Chipre      0,887             34
39    Lituânia      0,882             35
40     Polônia      0,880             36
41     Andorra      0,868             37
42     Letônia      0,866             38
43    Portugal      0,864             39
44  Eslováquia      0,860             40
45      Arábia    Saudita          0,854
46          40    Hungria          0,854
47          42    Bahrein          0,852
48          43      Chile          0,851
49          43    Croácia          0,851