In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from time import sleep
import numpy as np
import pandas as pd

In [4]:
def obter_driver():
    return webdriver.Chrome()

def abrir_pagina(driver):
    driver.get("https://www.cnnbrasil.com.br/internacional/veja-o-ranking-completo-de-todos-os-paises-por-idh/")

In [5]:
driver= obter_driver()
abrir_pagina(driver)

In [6]:
cookies= driver.find_element_by_xpath("""//*[@id="pop__gdpr"]/div[1]""")
cookies.click()

In [7]:
iframe = driver.find_element_by_xpath("""/html/body/div[2]/div/div/main/article/div/div[4]/iframe""")
driver.switch_to.frame(iframe)

In [8]:
def prox_pag():
    p = driver.find_element_by_xpath("""//*[@id="pagination"]/button[2]""")
    p.click()

In [9]:
linhas = []
cabecalho = driver.find_element_by_css_selector("#header-row")
colunas = cabecalho.text.split()
while(True):
    try:
        dados = driver.find_elements_by_css_selector("#table-inner .body-row")
        for elemento in dados:
            conteudo = elemento.text.split()
            colocacao = conteudo[0]
            if colocacao.isalpha():
                continue
            colocacao = int(colocacao)
            pais = " ".join(conteudo[1:-1])
            idh = conteudo[-1]
            idh = float(idh.replace(',', '.'))
            linha = [colocacao, pais, idh]
            linhas.append(linha)
        prox_pag()
        sleep(1)
    except Exception as erro:
        break
    
df_idh = pd.DataFrame(linhas, columns=colunas)

In [10]:
df_idh

     Colocação                       País    IDH
0            1                    Noruega  0.957
1            2                      Suíça  0.955
2            2                    Irlanda  0.955
3            4          Hong Kong (China)  0.949
4            4                   Islândia  0.949
..         ...                        ...    ...
199        185                    Burundi  0.433
200        185               Sudão do Sul  0.433
201        187                      Chade  0.398
202        188  República Centro-Africana  0.397
203        189                      Níger  0.394

[204 rows x 3 columns]

In [12]:
df_idh.to_csv('./Data/idh_global2019.csv', sep = ';')

In [11]:
df_idh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Colocação  204 non-null    int64
 1   País       204 non-null    object
 2   IDH        204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB