# Como investimentos influenciam o ganho de medalhas em olimpíadas
## Membros:
- Ana Beatriz Oliveira de Macedo
- Abdul Malik
- Bruna Bellini Faria
- Heloisa Mariani
- Marina Lara

**Matéria**:
Storytelling

In [65]:
import pandas as pd
import requests
import urllib.request
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [4]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_medalhas_brasileiras_nos_Jogos_Ol%C3%ADmpicos'
req = requests.get(url)
print(req.status_code)

200

In [47]:
url = url = 'https://pt.wikipedia.org/wiki/Lista_de_medalhas_brasileiras_nos_Jogos_Ol%C3%ADmpicos'
dfs = pd.read_html(url)
df = dfs[0]
print(df)

     Ano             Local  Ouro  Prata  Bronze  Total Colocação
0   2020            Tóquio   7.0    6.0     8.0   21.0       12º
1   2016    Rio de Janeiro   7.0    6.0     6.0   19.0       13º
2   2012           Londres   3.0    5.0     9.0   17.0       22º
3   2008            Pequim   3.0    4.0    10.0   17.0       22º
4   2004            Atenas   5.0    2.0     3.0   10.0       16º
5   2000            Sydney   NaN    6.0     6.0   12.0       52º
6   1996           Atlanta   3.0    3.0     9.0   15.0       25º
7   1992         Barcelona   2.0    1.0     NaN    3.0       25º
8   1988              Seul   1.0    2.0     3.0    6.0       24º
9   1984       Los Angeles   1.0    5.0     2.0    8.0       19º
10  1980            Moscou   2.0    NaN     2.0    4.0       17º
11  1976          Montreal   NaN    NaN     2.0    2.0       36º
12  1972           Munique   NaN    NaN     2.0    2.0       41º
13  1968  Cidade do México   NaN    1.0     2.0    3.0       35º
14  1964            Tóquio   NaN    NaN     1.0    1.0       35º
15  1960              Roma   NaN    NaN     2.0    2.0       39º
16  1956         Melbourne   1.0    NaN     NaN    1.0       24º
17  1952         Helsinque   1.0    NaN     2.0    3.0       24º
18  1948           Londres   NaN    NaN     1.0    1.0       34º
19  1936            Berlim   NaN    NaN     NaN    NaN        sc
20  1932       Los Angeles   NaN    NaN     NaN    NaN        sc
21  1928         Amsterdam   NaN    NaN     NaN    NaN        np
22  1924             Paris   NaN    NaN     NaN    NaN        sc
23  1920         Antuérpia   1.0    1.0     1.0    3.0       15º
24  1912         Estocolmo   NaN    NaN     NaN    NaN        np
25  1908           Londres   NaN    NaN     NaN    NaN        np
26  1904         St. Louis   NaN    NaN     NaN    NaN        np
27  1900             Paris   NaN    NaN     NaN    NaN        np
28  1896            Atenas   NaN    NaN     NaN    NaN        np

In [64]:
df.to_csv('Brasil-Medalhas.csv', index=False)

In [62]:
df.drop([19, 20, 21, 22, 24, 25, 26, 27, 28], axis=0, inplace=True)

In [60]:
df.fillna('0', inplace=True)

In [63]:
df

     Ano             Local Ouro Prata Bronze Total Colocação
0   2020            Tóquio    7     6      8    21       12º
1   2016    Rio de Janeiro    7     6      6    19       13º
2   2012           Londres    3     5      9    17       22º
3   2008            Pequim    3     4     10    17       22º
4   2004            Atenas    5     2      3    10       16º
5   2000            Sydney    0     6      6    12       52º
6   1996           Atlanta    3     3      9    15       25º
7   1992         Barcelona    2     1      0     3       25º
8   1988              Seul    1     2      3     6       24º
9   1984       Los Angeles    1     5      2     8       19º
10  1980            Moscou    2     0      2     4       17º
11  1976          Montreal    0     0      2     2       36º
12  1972           Munique    0     0      2     2       41º
13  1968  Cidade do México    0     1      2     3       35º
14  1964            Tóquio    0     0      1     1       35º
15  1960              Roma    0     0      2     2       39º
16  1956         Melbourne    1     0      0     1       24º
17  1952         Helsinque    1     0      2     3       24º
18  1948           Londres    0     0      1     1       34º
23  1920         Antuérpia    1     1      1     3       15º

In [ ]:
df.insert(7, "Valor recebido pelo COB", [, 23, 24, 21], True)
df.insert(8, 'Valor repassado as confederações')

In [66]:
url2 = 'https://pt.wikipedia.org/wiki/Lista_de_medalhas_brasileiras_nos_Jogos_Ol%C3%ADmpicos'
df_estado = pd.read_html(url2)
df2 = df_estado[22]
print(df2)

                 Estado  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0             São Paulo          45          67          92         204
1        Rio de Janeiro          27          30          36          93
2          Minas Gerais          14          15          11          40
3     Rio Grande do Sul          11          22          14          47
4                Paraná           8          19          10          37
5      Distrito Federal           7           2           4          13
6                 Bahia           6          10           8          24
7            Pernambuco           5           1           3           9
8        Espírito Santo           3           4           3          10
9               Paraíba           3           3           0           6
10                 Acre           2           0           0           2
11              Alagoas           1           2           2           5
12                Goiás           1           2           1           4
13                Piauí           1           2           1           4
14  Rio Grande do Norte           1           1           3           5
15                 Pará           1           1           1           3
16              Roraima           1           0           0           1
17       Santa Catarina           0           4           5           9
18             Maranhão           0           3           1           4
19                Ceará           0           3           0           3
20   Mato Grosso do Sul           0           1           3           4
21             Amazonas           0           1           1           2
22              Sergipe           0           0           1           1

In [67]:
#Número de atletas que conquistou uma medalha olímpica, seja em competições individuais ou em equipe por estado.
df2_index = pd.DataFrame(df2.values, columns=['Estado', 'Gold', 'Silver', 'Bronze', 'Total'])
df2_index

                 Estado Gold Silver Bronze Total
0             São Paulo   45     67     92   204
1        Rio de Janeiro   27     30     36    93
2          Minas Gerais   14     15     11    40
3     Rio Grande do Sul   11     22     14    47
4                Paraná    8     19     10    37
5      Distrito Federal    7      2      4    13
6                 Bahia    6     10      8    24
7            Pernambuco    5      1      3     9
8        Espírito Santo    3      4      3    10
9               Paraíba    3      3      0     6
10                 Acre    2      0      0     2
11              Alagoas    1      2      2     5
12                Goiás    1      2      1     4
13                Piauí    1      2      1     4
14  Rio Grande do Norte    1      1      3     5
15                 Pará    1      1      1     3
16              Roraima    1      0      0     1
17       Santa Catarina    0      4      5     9
18             Maranhão    0      3      1     4
19                Ceará    0      3      0     3
20   Mato Grosso do Sul    0      1      3     4
21             Amazonas    0      1      1     2
22              Sergipe    0      0      1     1